*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}

#root{
    display: flex;
}

.container{
    border: none;
    width: 100%;
    max-width: 150px;
}
.container-time{
    display: flex;
    flex-direction: column;
    width: 50px;
}

.container-time button{
    width: 100%;
    max-width:50px ;
    height: 100%;
    max-height: 100px;
}

.container input{
    background-color: transparent;
    color: lawngreen;
    font-size: 18px;
    font-size: 125px;
    align-items: center;
    justify-content: center;
    width: inherit;
    border: none;
}

#root div p{
    margin: 0 auto;
    color: lawngreen;
    font-size: 125px;
}
